/*Mobile first*/
.header{
    width:100%;
    min-height:56px;
    padding:12px 0;
    position:absolute;
    top:0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    z-index:15;
    background:0 0;
}
.vertical-center{
    align-items:center;
}
.fw{
    width:100%;
}
.container{
    padding-right: 12px;
    padding-left: 12px;
    margin-left: auto;
    margin-right: auto;
}
.vertical-center{
    align-items: center;
    display: flex;
}
.left-col{
    width:70%;
    display: flex;
    align-items: center;
}
.right-col{
    width: 30%;
}
.right-col{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    
}
i{
    font-style: italic;
}
.hamburger-menu{
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 2px;
    position: relative;
    background-color: #121212;
    border-radius: 2px;
}
.hamburger-menu:before, hamburger-menu:after{
    content: "";
    position: absolute;
    right: 0;
    width:24px;
    height: 2px;
    background-color: #121212;
    border-radius: 2px;
}

.d-inline-block{
    display: inline-block!important;
}
.ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
dl,ol,ul{
    margin-top: 0;
}
.d-none{
    display: none!important;
}

.right-col
{
width:30%;
}
.header a{
    display:inline-block;
    color:#121212;
    font-size:13px;
    line-height:19px;
}
.btn{
    font-size:14px;
    line-height: 17px;
    padding: 7px 10px;
    border:none;
}
.btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select:none;
    background-color: inital;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size:1rem;
    line-height: 1.5;
    border-radius:.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.header a.color-blue{
    color:#5581f4;
}
.vertical-center{
    align-items: center;
    display: flex;
}
.fw{
    width: 100%;
}
.container{
    padding-right:12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}
.header-toggle{
    cursor:pointer;
}
.header-dropdown{
    display: none;
    width: 100%;
    min-width: 176px;
    position:absolute;
    top:100%;
    right:4px;
    padding:24px 16px;
    background: #2f2e36;
    box-shadow:0 0 16px rgb(0 0 0 /10%)
}

*, :after,:before{
    box-sizing:border-box;
}
*, :after,:before{
    -webkit-font-smoothing: antialiased;
}
.bcontent{
    position: relative;
    min-height: 100%;
    top:0px;
}
.content{
    font-family: sans-serif;
    font-size:12px;
    line-height: 18px;
    color:#1f1827;
    background-color:#fff;
    margin:0;
}
.about-us-page{
    font-size:12px;
    line-height: 18px;
}
.about-us-container{
    padding-top: 55px;
}
 .top-banner{
    max-width: 100%;
    background-image: url("I:\FullStackDeveleoper\Projects\busyhub\BusyImage.jpeg");
    background-repeat: no-repeat;
    background-position:0 0;
    background-size:cover;
}

.banner-container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 120px 130px 150px 0;
}
.banner-title{
    max-width: 312px;
    font-size: 24px;
    line-height: 32px;
}
.fc-dark{
    color: #121212;;
}
.float-none{
    float:none!important;
}
.d-inline-block{
    display: inline-block!important;
}
.about-us{
    margin:80px 24px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left:-12px;
    margin-right: -12px;
}
.no-gutters{
    margin-right:0;
    margin-left:0;
}
.col-12{
    position: relative;
    width: 100%;
    padding-right: s12px;
    padding-left: 12px;
}
body{
    display: block;
}

/*Desktop second*/
@media only screen and (min-width:767px)
{
    body{
        font-family: sans-serif;
        font-size: 16px;
        line-height: 24px;
        color:#1f1827;
        background-color: #fff;
        margin: 0;
    }
    .sc{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position:fixed;
        inset:0px;
        background-color: rgba(0,0,0,0.5);
        z-index:16;
    }
    .about-us-container{
        padding-top: 71px;
    }
    
    .invi{
        visibility: hidden!important;
    }
    div{
        display: block;
    }
.about-us-page .about-us-container .section.top-banner .banner-container{
    max-width: 100%;
    padding:128px 40px 184px 24px;
    margin: 0 auto;
    position: relative;
}
.top-banner{
    max-width: 100%;
    background-position: 0 0;
    background-size: 64% 100%;
    background-repeat: no-repeat;
}
.about-us-page{
    font-size:16px;
    line-height:24px;
    font-style: normal;
    font-weight: 400;
    color:#2f2e36;
}
.about-us-page .about-us-container{
    padding-top: 55px;
}
body{
    background-color: #fff;
    margin:0;
}
ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
section{
    display: block;
}
dl,ol,ul{
    margin-bottom: 1rem;
}
}